*{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #f4f7fb;
    color: #253236;
}
header{
    background: linear-gradient(120deg,#04aa6d,#058457);
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}
main{
    width: 600px;;
    margin: 0  ;
    padding: 20px 10px;
}
section{
    padding: 24px;
    text-align: ;
    background: #e8edf4;
    font-size: 0.9rem;
}
section h2 {
    margin-top: 0;
    color: #04aa6d;
    
}
footer{
    padding: 24px;
    text-align: center;
    background: #e8edf4;
    font-size: 0.9rem;
}
button{
    margin: auto;
    border: white;
    padding: 10px 5px;
    width: 100px;
    background: #04aa6d;
    color: #fff;
    text-align: center;
    cursor: pointer;
    
}